/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Custom styles */

body {
  font-size: clamp(16px, 3vw, 24px);
  background-color: #fbfbfe;
  color: #221b1b;
}

.main-home-container {
  width: 80%;
  margin: auto;
  position: relative;
}

img {
  width: 100%;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* .home-title-author-container {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 1rem;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  background-color: rgb(20, 184, 20, 0.5);
  padding: 3px;
  border-radius: 5px;
}

a:active {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

/* TOC page */
.toc-container {
  width: 80%;
  margin: 1rem auto;
}