/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Custom styles */

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  width: 80%;
  margin: auto;
  padding: 1rem;
}

.cover_img {
  width: 100%;
  margin: auto;
}

.toc {
  width: 80%;
  margin: 2rem auto;
}

.toc_item {
  line-height: 2rem;
}



















/* 
body {
  font-size: clamp(16px, 3vw, 24px);
  background-color: #fbfbfe;
  color: #221b1b;
}


/*
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  background-color: rgb(20, 184, 20, 0.5);
  padding: 3px;
  border-radius: 5px;
}

a:active {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

/* TOC page */

/*
.toc-container {
  width: 80%;
  margin: 1rem auto;
} 
*/